{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-left:100px">
    <br><br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p><strong>Vous avez terminé le questionnaire</strong></p>
              <p> Vous pouvez quitter le site.</p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
      

 </div>
 </div>
    
</div>
 
{% endblock %}
