{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-left:100px">
    <br><br>
    <h4>Vous pouvez commencer</h4>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>Bienvenue sur l'Application Evaluation 360°. Cette application vous propose de solliciter
                6 contributeurs pour une évaluation qualitative de votre travail de l'année. 
                Vous seul serez destinataire des résultats de cette évaluation en ligne.
               Veuillez cliquer sur le bouton "Connexion" ci-dessous et vous laisser guidé. </p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
   
    <p><strong>créer votre évaluation :</strong></p>
    <a href="/accounts/login/?next=/evaluation/mine/" class="fr-btn"><p>connexion</p></a>


 </div>
 </div>
    
</div>
 
{% endblock %}
