{% extends "base.html" %}
{% block title %}Index Page{% endblock %}
{% block content %}
<div class="container-fluid" style="margin-left:100px">
    <br><br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p style="text-align: justify">Ce projet, a pour vocation de permettre, sur la base du volontariat, à chaque agent encadrant, de tester un dispositif d’évaluation
              complémentaire et préalable à l’entretien professionnel « classique » et obligatoire, et de lui permettre, au-delà de l’appréciation
              et des objectifs qui lui seront fixés par sa hiérarchie, de disposer de l’appréciation de ses collègues de travail et des agents placés sous son autorité.</p>
              <p> Vous pouvez vous diriger vers <strong>Evalué</strong> ou <strong>Contributeur</strong></p>
          </div>
          <div class="col-sm">
          </div>
        </div>
      </div>
      

 </div>
 </div>
    
</div>
 
{% endblock %}
